<div class="containerHeader">
    <div class="flex-row">
        <div class="md-flex-col30 flex-row PT10 md-space-center availableIn font-family-schoolbell text-size-rem16"><span>Available in PCMC only</span></div>
    <div class="md-flex-col40 flex-row flex-horiz-center"><img class="responsiveImg" src="assets\images\logo\logo.png" alt="Dhruvi's Cake image" width="515px" height="337"></div>
    <div class="md-flex-col30 flex-row PT10 md-space-center font-family-schoolbell text-size-rem15 ">
        <div class="PR15 PT2">Need to order ?</div>
        <div class="PR11"><img src="assets/images/icons/phoneicon.png" alt="Phone Icon" width="40px" height="38px"></div>
        <div class="PR11"><img src="assets/images/icons/whatsappicon.png" alt="Phone Icon" width="38px" height="38px"></div>
        <div class="font-family-SegoeUI text-size-rem15 PT2">+919850929610</div>
    </div>
    </div>
</div>



