.containerHeader{
    background: #000;
    color: #fff;
    width: 100%;
    height: 353px;
    // display: flex;
    // flex-direction: row;
}

// @media only screen and (max-width: 1440px) {
//     .containerHeader{
//         background: #000;
//         color: #fff;
//         width: 100%;
//         height: 353px;
//         // display: flex;
//         // flex-direction: row;
//     }
// }


// @media only screen and (min-width: 1441px) and (max-width: 1920px) {
//     .containerHeader{
//         background: #000;
//         color: #fff;
//         width: 1440px;
//         height: 353px;
//         margin: 0 auto;
//         // display: flex;
//         // flex-direction: row;
//     }
// }




// @media (max-width: 400px){
//     .containerHeader{
//         background: red;
//     }

// }



