@font-face {
    font-family: 'schoolbell';
    src: url('fonts/Schoolbell-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-black-italic';
    src: url('fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-bold-italic';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-italic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-light-italic';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-medium';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-medium-italic';
    src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-thin';
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-thin-italic';
    src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
