* {
    box-sizing: border-box;
  }
  
.txt-ffffff{
    color: #ffffff;
}

.txt-0C6B0D{
    color: #0C6B0D;
}

.textCenter {
    text-align: center;
}
.bg-black {
    background-color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

.marginZeroAuto {
    margin: 0 auto;
}

.responsiveImg {
    max-width: 100%;
    height: auto;
}

.displayInlineBlock {
    display: inline-block;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

/*******Fonts Common Class Starts************/


.font-family-schoolbell {
    font-family: schoolbell;
}

.font-family-SegoeUI{
    font-family: "Segoe UI"
}

.font-family-robotoLight {
    font-family: roboto-light;
}

.font-family-robotoThin {
    font-family: roboto-thin;
}

.font-family-robotoRegular {
    font-family: roboto-regular;
}

.font-wt-bold{
    font-weight: bold;
}

/*******Fonts Common Class Ends************/


/*******Padding & Margin in px Common Class Starts************/

@for $i from 0 through 100{

    .PT#{$i} {
        padding-top: $i+px;
    }

    .PR#{$i} {
        padding-right: $i+px;
    }

    .PB#{$i} {
        padding-bottom: $i+px;
    }

    .PL#{$i} {
        padding-left: $i+px;
    }

    .P#{$i} {
        padding: $i+px;
    }

    .MT#{$i} {
        margin-top: $i+px;
    }

    .MR#{$i} {
        margin-right: $i+px;
    }

    .MB#{$i} {
        margin-bottom: $i+px;
    }

    .ML#{$i} {
        margin-left: $i+px;
    }

    .M#{$i} {
        margin: $i+px;
    }    

}

/*******Padding & Margin in px Common Class Ends************/

/************Cake Cards Styles Starts****************/

.cake-item-Container{
    height: 320px;
    width: 100%;
    //background: grey;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.cake-container{
    width: 16.66%;
    height: 320px;
}

.image-set-proper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
  }

.greyColor {
    color: #666666;
}

.alignCenterFirstCard {
    justify-content: center;
    align-items: center;
}

/* Rectangle 6 */

.viewAllBtn {
    width: 100px;
    height: 38px;
    background: #ED1354;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
}

.textSizeEggless {
    font-size: 12px;
}

.price-new {
    color: #333;
    font-size: 13px;
    font-weight: 600;
}

/***********Cake Cards Styles Ends******************/

/*******Font Size Common class in REM Starts**************/

@for $i from 1 through 40 {
    .text-size-rem#{$i}{
        font-size: ($i/10)+rem;
    }
}


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  

