$tablet: "(min-width: 786px) and (max-width: 1024px)";
$desktop: "(min-width: 756px)";

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.md-flex-wrap {
    flex-wrap: wrap;;
}

.md-space-between {
    justify-content: space-between;
}

.md-space-around {
    justify-content: space-around;
}

.md-space-center {
    justify-content: center;
}

.md-flex-baseline {
    align-items: baseline;
}

.md-flex-center {
    align-items: center;
}

.md-flex-end {
    align-items: end;
}

.flex-horiz-center{
    justify-content: center;
    align-items: baseline;
}

.flex-vertical-center{
  justify-content: normal;
  align-items: center;
}

.flex-center{
  justify-content: center;
  align-items: center;
}


/*******column percent Starts**************/

// @for $i from 0 through 100 {
//     @if $i % 5 == 0 {
//         .md-flex-col#{i} {
//             width: round(percentage($i/100));
//         }
//     }
    
// }


/*******column percent Ends**************/



/*******Width % Ends**************/
.md-flex-col1{
    width: 1%;
}

.md-flex-col2{
    width: 2%;
}
.md-flex-col3{
    width: 3%;
}
.md-flex-col4 {
    width:4%;
}
.md-flex-col5 {
    width:5%;
}
.md-flex-col6 {
    width:6%;
}
.md-flex-col7 {
    width:7%;
}
.md-flex-col8 {
    width:8%;
}
.md-flex-col9 {
    width:9%;
}
.md-flex-col10 {
    width:10%
}
.md-flex-col11 {
    width:11%
}
.md-flex-col12 {
    width:12%
}
.md-flex-col13 {
    width:13%
}
.md-flex-col14 {
    width:14%
}
.md-flex-col15 {
    width:15%
}
.md-flex-col16 {
    width:16%
}
.md-flex-col17 {
    width:17%
}
.md-flex-col18 {
    width:18%
}
.md-flex-col19 {
    width:19%
}
.md-flex-col20 {
    width:20%
}
.md-flex-col21 {
    width:21%
}
.md-flex-col22 {
    width:22%
}
.md-flex-col23 {
    width:23%
}
.md-flex-col24 {
    width:24%
}
.md-flex-col25 {
    width:25%
}
.md-flex-col26 {
    width:26%
}
.md-flex-col27 {
    width:27%
}
.md-flex-col28 {
    width:28%
}
.md-flex-col29 {
    width:29%
}
.md-flex-col30 {
    width:30%
}
.md-flex-col31 {
    width:31%
}
.md-flex-col32 {
    width:32%
}
.md-flex-col33 {
    width:33%
}
.md-flex-col34 {
    width:34%
}
.md-flex-col35 {
    width:35%
}
.md-flex-col36 {
    width:36%
}
.md-flex-col37 {
    width:37%
}
.md-flex-col38 {
    width:38%
}
.md-flex-col39 {
    width:39%
}
.md-flex-col40 {
    width:40%
}
.md-flex-col41 {
    width:41%
}
.md-flex-col42 {
    width:42%
}
.md-flex-col43 {
    width:43%
}
.md-flex-col44 {
    width:44%
}
.md-flex-col45 {
    width:45%
}
.md-flex-col46 {
    width:46%
}
.md-flex-col47 {
    width:47%
}
.md-flex-col48 {
    width:48%
}
.md-flex-col49 {
    width:49%
}
.md-flex-col50 {
    width:50%
}
.md-flex-col51 {
    width:51%
}
.md-flex-col52 {
    width:52%
}
.md-flex-col53 {
    width:53%
}
.md-flex-col54 {
    width:54%
}
.md-flex-col55 {
    width:55%
}
.md-flex-col56 {
    width:56%
}
.md-flex-col57 {
    width:57%
}
.md-flex-col58 {
    width:58%
}
.md-flex-col59 {
    width:59%
}
.md-flex-col60 {
    width:60%
}
.md-flex-col61 {
    width:61%
}
.md-flex-col62 {
    width:62%
}
.md-flex-col63 {
    width:63%
}
.md-flex-col64 {
    width:64%
}
.md-flex-col65 {
    width:65%
}
.md-flex-col66 {
    width:66%
}
.md-flex-col67 {
    width:67%
}
.md-flex-col68 {
    width:68%
}
.md-flex-col69 {
    width:69%
}
.md-flex-col70 {
    width:70%
}
.md-flex-col71 {
    width:71%
}
.md-flex-col72 {
    width:72%
}
.md-flex-col73 {
    width:73%
}
.md-flex-col74 {
    width:74%
}
.md-flex-col75 {
    width:75%
}
.md-flex-col76 {
    width:76%
}
.md-flex-col77 {
    width:77%
}
.md-flex-col78 {
    width:78%
}
.md-flex-col79 {
    width:79%
}
.md-flex-col80 {
    width:80%
}
.md-flex-col81 {
    width:81%
}
.md-flex-col82 {
    width:82%
}
.md-flex-col83 {
    width:83%
}
.md-flex-col84 {
    width:84%
}
.md-flex-col85 {
    width:85%
}
.md-flex-col86 {
    width:86%
}
.md-flex-col87 {
    width:87%
}
.md-flex-col88 {
    width:88%
}
.md-flex-col89 {
    width:89%
}
.md-flex-col90 {
    width:90%
}
.md-flex-col91 {
    width:91%
}
.md-flex-col92 {
    width:92%
}
.md-flex-col93 {
    width:93%
}
.md-flex-col94 {
    width:94%
}
.md-flex-col95 {
    width:95%
}
.md-flex-col96 {
    width:96%
}
.md-flex-col97 {
    width:97%
}
.md-flex-col98 {
    width:98%
}
.md-flex-col99 {
    width:99%
}
.md-flex-col100 {
    width:10	
}
/*******Width % Ends**************/


/*******12 Column grid Starts**************/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*******12 Column grid ends**************/

