<div class="cake-item-Container">
    <div *ngFor="let bakingTool of data; last as last; first as first" class="cake-container bg-white card font-family-robotoRegular" [ngClass]="{'MR20': !last, 'flex-col': !first, 'alignCenterFirstCard': first}">
        <ng-container *ngIf="first">
            <div>
                <div class="text-size-rem18 greyColor textCenter">Baking Tools</div>
            </div>
            <div>
                <div class="viewAllBtn flex-row alignCenterFirstCard">View All</div>
            </div>
        </ng-container>
        <ng-container *ngIf="!first">
            <div class="image-set-proper PT20 flex-col">
                <img src="{{bakingTool.product_image}}" alt="" class="responsiveImg" width="168px" height="159px">
            </div>
            <div class="MT20 flex-col md-flex-center">
                {{bakingTool.product_name}}
            </div>
            <div class="MT10 flex-col md-flex-center txt-0C6B0D textSizeEggless">
                {{bakingTool.product_contain}}
            </div>
            <div class="MT10 greyColor flex-col md-flex-center txt-0C6B0D textSizeEggless font-wt-bold">
                Earliest Delivery : Tomorrow
            </div>
            <div class="MT10 price-new flex-col md-flex-center txt-0C6B0D textSizeEggless">
                <span>
                    <fa-icon class="PL5" [icon]="faRupeeSign" size="xs"></fa-icon>
                    {{bakingTool.price}}
                </span>
            </div>
        </ng-container>
</div>






