<div class="menuItemsContainer">
    <div class="menuItems">
        <div class="menuItemsPadding">
            <div>
                <app-cakes></app-cakes>
            </div>
            <div class="PT20">
                <app-theme-cakes></app-theme-cakes>
            </div>
            <div class="PT20">
                <app-cake-ingridients></app-cake-ingridients>
            </div>
            <div class="PT20">
                <app-baking-tools></app-baking-tools>
            </div>
            <div class="PT20">
                <app-baking-classes></app-baking-classes>
            </div>
        </div>        
    </div>
</div>