.containerFooter{
    height: 278px;
    background: #000000;
    width: 100%;
}

.copyrightContainer {
    height: 49px;
    background: #303030;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}