<div>
    <div class="containerFooter">

    </div>
    <div class="copyrightContainer flex-row">
        <div class="font-family-robotoThin txt-ffffff">Copyright © 2020 Dhruvi’s Cake. All rights reserved</div>
    </div>
</div>