<div class="containerMenu">
    <nav class="listItem flex-row text-size-rem13 font-family-robotoThin">
        <!-- Navbar content -->
        <ul *ngFor="let menu of menus;let i = index">
            <li (mouseenter)="showMenu($event, 'menuItem'+i)" (mouseleave)="hideMenu($event, 'menuItem'+i)"><a href="">{{menu}}<fa-icon class="PL5" [icon]="faChevronDown" size="xs"></fa-icon></a></li>
        </ul>
    </nav>
    <form class="form-inline my-2 my-md-0">
        <input type="text" placeholder="Search" class="form-control">
        <button class="searchBtn">Search</button>
    </form>
    
    <!-- <nav class="flex-row md-space-center text-size-rem18 font-family-robotoThin">
        <ul *ngFor="let menu of menus;let i = index">
            <li (mouseenter)="showMenu($event, 'menuItem'+i)" (mouseleave)="hideMenu($event, 'menuItem'+i)"><a href="">{{menu}}<fa-icon class="PL5" [icon]="faChevronDown" size="xs"></fa-icon></a></li>
        </ul>
    </nav>    -->
</div>


